@import "tailwindcss";

/* @theme{
  --color-bg: #f8fafc;
  --color-bg-dark: #0f172a;
  --color-surface: #ffffff;
  --color-surface-dark: #020617;
  --color-text: #0f172a;
  --color-text-dark: #e5e7eb;
  --color-text-secondary: #475569;
  --color-text-secondary-dark: #94a3b8;
  --color-accent: #2563eb;
  --color-accent-dark: #38bdf8;
  --color-accent-hover: #1d4ed8;
  --color-accent-hover-dark: #0ea5e9;
} */

* {
  box-sizing: border-box;
}

:root {
  --background: #f8fafc;
  --surface: #ffffff;
  --text: #0f172a;
  --text-secondary: #475569;
  --accent: #2563eb;
  --accent-hover: #1d4ed8;
}

.dark {
  --background: #050914;
  --surface: #020617;
  --text: #e5e7eb;
  --text-secondary: #94a3b8;
  --accent: #38bdf8;
  --accent-hover: #0ea5e9;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* nav {
   background: var(--background); 
} */

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
