@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: rgb(244, 244, 216);
  --surface: #ffffff;
  --primary: #0f172a;
  --secondary: #3c4b61;
  --accent: #2563eb;
  --accent-hover: #1d4ed8;
  --default : #000000;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dark {
  --background: #0b102f;
  --surface: #1c2c61;
  --primary: #e5e7eb;
  --secondary: #8492a5;
  --accent: #38bdf8;
  --accent-hover: #0ea5e9;
  --default : #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: bold;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.b {
  color: #0f172a;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

nav {
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link.active::after {
  transform: scaleX(1);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 5px;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

.grecaptcha-badge {
  visibility: hidden;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (min-width: 1024px) {
  .rev:nth-child(even) {
    flex-direction: row-reverse;
  }
}
